In [1]:
import pandas as pd
import yaml
from sqlalchemy import create_engine

In [132]:
LOAD_DATE = '2021-01-02'

In [101]:
tables = ['bills_item', 'bills_head', 'traffic', 'coupons', 'promos']
dfs = {}

connection_string = f'postgresql+psycopg2://{TARGET_DB_USER}:{TARGET_DB_PASSWORD}@{TARGET_DB_HOST}:{TARGET_DB_PORT}/{TARGET_DB_NAME}'
engine = create_engine(connection_string)

In [119]:
dfs['traffic']

Empty DataFrame
Columns: [plant, calday, time, frame_id, quantity]
Index: []

In [133]:
for table_name in tables:
    if table_name == 'traffic':
        dfs[table_name] = pd.read_csv(f'../datasets/{table_name}.csv', parse_dates=['calday'], date_format='%d.%m.%Y')
        dfs[table_name] = dfs[table_name][dfs[table_name]['calday'] == LOAD_DATE]
    elif table_name == 'promos':
        dfs[table_name] = pd.read_csv(f'../datasets/{table_name}.csv')
        actual_promos_coupons = dfs[table_name].groupby('promo_id', as_index=False).first()
        actual_promos_idx = dfs[table_name].merge(actual_promos_coupons, on='promo_id', how='left').dropna().index
        dfs[table_name] =  dfs[table_name].iloc[actual_promos_idx]
    else:
        dfs[table_name] = pd.read_csv(f'../datasets/{table_name}.csv', parse_dates=['calday'])
        dfs[table_name] = dfs[table_name][dfs[table_name]['calday'] == LOAD_DATE]

    dfs[table_name].to_sql(name=table_name, schema='store_sales', con=engine, if_exists='append', index=False)

In [6]:
for table in ['stores', 'promo_types']:
    df = pd.read_csv(f'../datasets/{table}.csv')
    df.to_sql(name=table, schema='store_sales', con=engine, if_exists='replace', index=False)

In [ ]:
dfs[table_name].to_sql(name=table_name, schema='store_sales', con=engine, if_exists='append', index=False)

In [128]:
bills_item = pd.read_csv('../datasets/bills_item.csv', parse_dates=['calday'])
bills_head = pd.read_csv('../datasets/bills_head.csv', parse_dates=['calday'])
coupons = pd.read_csv('../datasets/coupons.csv', parse_dates=['calday'])
traffic = pd.read_csv('../datasets/traffic.csv', parse_dates=['calday'], date_format='%d.%m.%Y')
promos = pd.read_csv('../datasets/promos.csv')

In [129]:
traffic.head()

  plant     calday    time    frame_id  quantity
0  M001 2021-01-01   80000  1245776664         2
1  M001 2021-01-01   90000  1245776667         2
2  M001 2021-01-01  100000  1245776670         1
3  M001 2021-01-01  110000  1245776673         0
4  M001 2021-01-01  120000  1245776676         0

In [113]:
traffic[traffic['calday'] == '2021-01-03']

      plant     calday    time    frame_id  quantity
32     M001 2021-01-03   80000  1245776704         1
33     M001 2021-01-03   90000  1245776707         1
34     M001 2021-01-03  100000  1245776693         0
35     M001 2021-01-03  110000  1245776696         0
36     M001 2021-01-03  120000  1245776699         2
...     ...        ...     ...         ...       ...
13259  M015 2021-01-03  190000  1245776691         2
13260  M015 2021-01-03  200000  1245776694         1
13261  M015 2021-01-03  210000  1245776697         2
13262  M015 2021-01-03  220000  1245776700         2
13263  M015 2021-01-03  230000  1245776693         1

[240 rows x 5 columns]

In [87]:
bills_item = bills_item[bills_item['calday'] == LOAD_DATE]
bills_head =bills_head [bills_head['calday'] == LOAD_DATE]
coupons = coupons[coupons['calday'] == LOAD_DATE]
traffic = traffic[traffic['calday'] == LOAD_DATE]

In [93]:
actual_promos_coupons = coupons.groupby('promo_id', as_index=False).first()
actual_promos_idx = promos.merge(actual_promos_coupons, on='promo_id', how='left').dropna().index
promos = promos.iloc[actual_promos_idx]

In [80]:
tables = ['bills_item', 'bills_head', 'traffic', 'coupons', 'promos']

In [2]:
# Подключения для удаленной базы данных
with open("../.config.yml", "r") as file:
    config = yaml.safe_load(file)

# Получение параметров подключения к базе данных
TARGET_DB_HOST = config["remote_target_db"]["host"]
TARGET_DB_PORT = config["remote_target_db"]["port"]
TARGET_DB_USER = config["remote_target_db"]["user"]
TARGET_DB_PASSWORD = config["remote_target_db"]["password"]
TARGET_DB_NAME = config["remote_target_db"]["dbname"]

In [3]:
connection_string = f'postgresql+psycopg2://{TARGET_DB_USER}:{TARGET_DB_PASSWORD}@{TARGET_DB_HOST}:{TARGET_DB_PORT}/{TARGET_DB_NAME}'
engine = create_engine(connection_string)

In [4]:
for table in ['stores', 'promo_types']:
    df = pd.read_csv(f'../datasets/{table}.csv')
    df.to_sql(name=table, schema='store_sales', con=engine, if_exists='replace', index=False)

In [2]:
with open("../.config.yml", "r") as file:
    config = yaml.safe_load(file)

# Получение параметров подключения к базе данных
TARGET_DB_HOST = config["target_db"]["host"]
TARGET_DB_PORT = config["target_db"]["port"]
TARGET_DB_USER = config["target_db"]["user"]
TARGET_DB_PASSWORD = config["target_db"]["password"]
TARGET_DB_NAME = config["target_db"]["dbname"]

In [5]:
connection_string = f'postgresql+psycopg2://{TARGET_DB_USER}:{TARGET_DB_PASSWORD}@{TARGET_DB_HOST}:{TARGET_DB_PORT}/{TARGET_DB_NAME}'
engine = create_engine(connection_string)

In [ ]:
for table in tables:
    stores.to_sql(name='stores', schema='store_sales', con=engine, if_exists='append', index=False)

In [ ]:
bills_head.to_csv()

In [20]:
with open("../config.yml", "r") as file:
    config = yaml.safe_load(file)

# Получение параметров подключения к базе данных
TARGET_DB_HOST = config["target_db"]["host"]
TARGET_DB_PORT = config["target_db"]["port"]
TARGET_DB_USER = config["target_db"]["user"]
TARGET_DB_PASSWORD = config["target_db"]["password"]
TARGET_DB_NAME = config["target_db"]["dbname"]

In [22]:
connection_string = f'postgresql+psycopg2://{TARGET_DB_USER}:{TARGET_DB_PASSWORD}@{TARGET_DB_HOST}:{TARGET_DB_PORT}/{TARGET_DB_NAME}'

In [23]:
engine = create_engine(connection_string)

In [28]:
schema_name = 'store_sales'
table_name = 'stores'

In [29]:
f'{schema_name}.{table_name}'

'store_sales.stores'

In [31]:
stores.to_sql(name='stores', schema='store_sales', con=engine, if_exists='replace', index=False)

15

In [32]:
promo_types.to_sql(name='promo_types', schema='store_sales', con=engine, if_exists='replace', index=False)

2

In [ ]:
stores.to_sql()